header{
    display: flex;
    justify-content: center;
}

#opciones{
    display: flex;
    justify-content: space-around;
    border: 2px black solid;
    width: 50%;
}

h1{
    display: flex;
    justify-content: center;
}

hr{
    width: 53%;
}

.productos-listado {
    display: flex;
}

.listado_mostrar {
  display: flex;
  align-items: center;
  margin-left: 250px;
  margin-right: 250px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  gap: 15px;
}

.listado_mostrar img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}