.container-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  gap: 20px;
}

.listado_mostrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 150px;
}

.listado_mostrar img {
    width: 100px;
    height: 150px;
    object-fit: cover;
}